.decline-img{
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    width: 215px;
}

.sorry-txt{
    font-size: 40px;
    color: #B11433;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.txt{
    font-size: 20px;
    color: #B11433;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

ion-button{
    width: 80%;
    margin: 0 auto;
    --background: #B11433;
    margin-top: 100px;
}

