<ion-content class="whitebackground">

  <div class = "header-container">
    <ion-img class="top" src="assets/imgs/post-top.png"></ion-img>
    <ion-icon class="back" name="arrow-back-outline"></ion-icon>
    <ion-text class="header-txt">Edit Post</ion-text>
  </div>

  <div class="textarea-container">
    <textarea #captionTextarea [(ngModel)]="post_caption" class="textarea" placeholder="{{post_caption}}" rows="1"></textarea>
  </div>

  <ion-button class="post-button" shape="round" expand="block" size="large" (click)="editPost()">Save Changes</ion-button>

</ion-content>
