<ion-content class = "redbackground">

  <ion-img class="design" src="assets/imgs/signup-details-design.png"></ion-img>

  <ion-text class="get-started">
    GET <br>
    STARTED
  </ion-text>

  <ion-text class="ID">
    <div class="input-field">  
      <img class="username-icon" src="assets/icon/username-icon.png" alt="ID icon">
      <ion-item>
        <ion-label class="ID-label" position="floating" >Username </ion-label>
        <ion-input class="email" type="email" name="email"></ion-input>
      </ion-item> 
    </div>
  </ion-text>

  <ion-text class="password">
    <div class="input-field">  
      <img class="pass-icon" src="assets/icon/Password-red.png" alt="ID icon">
      <ion-item>
        <ion-label class="pass-label" position="floating" >Password </ion-label>
        <ion-input class="pass-input" type="password" name="password"></ion-input>
      </ion-item> 
    </div>
  </ion-text>

  <ion-text class="confirm-pass">
    <div class="input-field">  
      <img class="pass-icon" src="assets/icon/Password-red.png">
      <ion-item>
        <ion-label class="pass-label" position="floating" >Confirm your password </ion-label>
        <ion-input class="pass-input" type="password" name="password"></ion-input>
      </ion-item> 
    </div>
  </ion-text>
  
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button class="fab">
      <ion-icon class="next-icon" name="arrow-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
