.redbackground {
  --background: #B11433;
}

.design{
    width: 395px; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0;
}

.get-started{
    color: #B11433; 
    font-size: 40px; 
    position: absolute; 
    top: 33%; 
    left: 17%; 
    transform: translate(-20%, -50%);
}

.ID{
    color: white;
    font-size: 10px; 
    position: absolute; 
    top: 47%; 
    left: 10%;
}

.username-icon{
    width: 50px; 
    height: 50px; 
    margin-top: 25px; 
}

.ID-label{
    color: #AAA7AE; 
}

.email{
    border-bottom: 1px solid #B11433;
}

.password{
    color: white; 
    font-size: 10px; 
    position: absolute; 
    top: 57%; 
    left: 10%;
}

.pass-icon{
    width: 50px; 
    height: 50px; 
    margin-top: 25px;
}

.pass-label{
    color: #AAA7AE; 
}

.pass-input{
    border-bottom: 1px solid #B11433;
}

.confirm-pass{
    color: white; 
    font-size: 10px; 
    position: absolute; 
    top: 67%; 
    left: 10%;
}

.fab{
    --background: #B11433;
}

.next-icon{
    color: #fff
}

ion-item{
    --background: transparent;
    --inner-padding-end: 0;
  }
  
  .input-field {
    display: flex;
    align-items: center;
  }
