.response-img{
    width: 100px;
    margin-left: 35%;
    margin-top: 2%;
}

.create-pass-txt{
    color: #45579A;
    text-align: center;
    margin-top: 60px;
}

.admin-responded-txt{
    text-align: center;
    color: #45579A;
    margin-top: 60px;
}

.button{
  position: relative;
  margin: 30px auto 0;
  --background: #45579A;
  width: 322px;
  height: 53px;
  display: block;
}

.image-container {
  position: relative;
}

.image-container img:first-child {
  z-index: 1;
  width: 100%;
}

.overlay-image {
  position: absolute;
  top: 10px;
  left: 25px;
  width: 40px;
  z-index: 2;
}

ion-input{
  color: red;
  font-size: 18px;
  position: absolute;
  left: 70px;
  width: 206px;
  margin: 0 auto;
  display: block;
}

.input {
  text-align: center;
}

ion-card {
  --background: #F5F5F5;
  margin-top: 20px;
  width: 362px;
  height: auto;
  border-radius: 50px;
}

.design{
  position:absolute;
  bottom: 0;
}










