<ion-content class="whitebackground">

  <div class="admin-responded-txt">
    <h1><b>An Admin has Responded!</b></h1>
  </div>

  <div class="response-img">
    <img src="assets/imgs/response.png">
  </div>
   
  <div class="create-pass-txt">
    <h2><b>Create a new password</b></h2>
  </div>

  <ion-card>
    <ion-card-content>  
  
      <div class="input">
        <div class="image-container">

          <img src="assets/imgs/input-field.png">
          <img src="assets/icon/Password.png" class="overlay-image">
          <b><ion-input label="New password..."></ion-input></b>
      
        </div>

        <div class="image-container">
          <img src="assets/imgs/input-field.png">
          <img src="assets/icon/Password.png" class="overlay-image">
          <b><ion-input label="Confirm password..."></ion-input></b>
        </div>


      </div>
  
      <ion-button class="button" shape="round" expand="block"><b>SEND REQUEST</b></ion-button>
  
    </ion-card-content>
  </ion-card>

  <div class="design">
    <img src="assets/imgs/new-pass-design.png">
  </div>

</ion-content>
