.response-img{
    width: 100px;
    margin-left: 35%;
    margin-top: 10%;
}

.create-pass-txt{
    color: #AAA7AE;
    position: absolute;
    top: 33%;
    margin-left: 115px;
    transform: translate(-20%, -50%);
}

.admin-responded-txt{
    text-align: center;
    color: #45579A;
}

ion-img{
    width: 395px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}