.response-img{
    width: 100px;
    margin-left: 35%;
    margin-top: 10%;
}

.create-pass-txt{
    color: #45579A;
    text-align: center;
    margin-top: 20px;
}

.admin-responded-txt{
    text-align: center;
    color: #45579A;
}

.bar-img{
    height: 315px;
    width: 50px;
    margin-left: 12px;
}