ion-menu-button{
    color: white;
}

ion-title{
    color: white;
    font-family: 'Cairo', sans-serif;
}

ion-toolbar{
    --background: #45579A;
}

ion-card{
  margin-bottom: -5px;
}

.menu-button{
    width: 100%;
    --background: #45579A;
}

.delete{
  position: relative;
  font-size: 25px;
  color: white;
  top: 20px;
  left: 30px;
}

.edit{
  position: relative;
  font-size: 25px;
  color: white;
  top: 20px;
  left: 20px;
}


.avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 2px solid #45579A;
  }

  h1{
    color: #45579A !important;
    font-family: 'Cairo', sans-serif;
    font-weight: bolder;
    margin-bottom: 0;
  }

  .level{
    color: #348137;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    margin-top: 0;
  }

  .urgent{
    color: red;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    margin-top: 0;
  }
  .important{
    color: yellow;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    margin-top: 0;
  }

  p{
    padding:0;
    margin-bottom:0;
    padding-bottom: 0;
    color: darkgray;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
  }

  ion-card-header{
    padding-bottom: 0;
  }

  ion-icon{
    color:#45579A;
    padding:0;
    margin-bottom:0;
  }

ion-text{
    font-family: 'Cairo', sans-serif;
}
.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Set the height of the avatar container to fill the viewport */
}
.menu-tool{
  --background:var(--ion-background-color)
}


ion-avatar{
  height: 100px;
  width: 100px;
}

.menu{
  --ion-background-color: #45579A;
}

ion-label{
  color: white;
}

.custom-button{
  --background: white;
  --color: black;
}

.header-button{
  --background: none;
  --box-shadow: none;
  position: relative;
  left: 75%;
}

.ann{
  position: relative;
  top: 7px;
}