<ion-content>

  <ion-menu menuId="menuAnnouncements" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Manage Announcements</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> 
        <ion-button (click)="closeMenu()" class="menu-button">View Announcements</ion-button>
      <ion-button (click)="goToSendAnnouncement()" class="menu-button">Send an announcement</ion-button>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title><ion-text class="ann">Announcements</ion-text>
          <ion-button (click)="goToPanel()" class="header-button"><ion-label>Panel</ion-label></ion-button>
          <ion-button (click)="goToHome()" class="header-button"><ion-label>Log out</ion-label></ion-button>
        </ion-title>
      </ion-toolbar>
    </ion-header>
  <ion-content class="ion-padding">

    <ion-card *ngFor="let announcement of announcements; let i = index">
      <ion-card-header>
        <ion-item lines="none">
          <ion-avatar class="avatar" slot="start">
            <img alt="Silhouette of a person's head" [src]="getAnnouncerProfilePic(i)" />
          </ion-avatar>
          <ion-label>
            <h1>{{announcement.announcement_title}}</h1>
            <p [ngClass]="{
              'optional': announcement.importance_level === 'optional',
              'important': announcement.importance_level === 'important',
              'urgent': announcement.importance_level === 'urgent'
            }">
              {{announcement.importance_level}}
            </p>
          </ion-label>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-label class="ion-text-end">
          <ion-icon (click)="goToEditAnnouncement()" class="edit" name="create-outline"></ion-icon>
          <ion-icon (click)="confirm()" class="delete" name="trash-outline"></ion-icon>
          <p>{{announcement.announcer_name}}</p>
          <p>{{announcement.announcement_date}}</p>
        </ion-label>
        <ion-text *ngIf="showDescriptions[i]" class="description">
          {{announcement.announcement_content}}
        </ion-text>
        <ion-footer class="ion-text-center">
        <ion-button class="ion-align-items-center" slot="footer" (click)="toggleDescription(i)" fill="clear">
          <ion-icon  [name]="showDescriptions[i] ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
        </ion-button>
      </ion-footer>
      </ion-card-content>
    </ion-card>
  </ion-content>
  </div>

</ion-content>
