<ion-content class="background">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Fill in the fields below</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-input class="input"  placeholder="Announcement Title..."></ion-input>
    </ion-card-content>

    <ion-card-content>
      <ion-input class="input"  placeholder="Announcement Content..."></ion-input>
    </ion-card-content>

    <ion-segment value="default">
      <ion-segment-button value="Optional">
        <ion-label>Optional</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Important">
        <ion-label>Important</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Urgent">
        <ion-label>Urgent</ion-label>
      </ion-segment-button>
    </ion-segment>

  </ion-card>

</ion-content>
