.container {
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  ion-card {
    width: 90%;
    max-width: 500px;
    margin: 10px 0;
  }

  ion-icon{
    color: #45579A;
  }

  ion-label{
    color:black;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
  }
h1{
    color: black;
    font-weight: bolder;
}

p{
    font-weight: bold;
}
.custom-img{
    --border-radius: 50%;
    width: 100%;
    height: 50%;

}