<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-item lines="none">
          <ion-icon size="large" name="hand-left-outline" slot="start"></ion-icon>
          <ion-label>Volunteer Stats</ion-label>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <div>
                <h1>{{total_trainings_completed_count}}</h1>
                <p>Trainings Completed</p>
              </div>
            </ion-col>
            <ion-col size="4">
              <div>
                <h1></h1>
                <p>Activites Organized</p>
              </div>
            </ion-col>
            <ion-col size="4">
              <div >
                <h1></h1>
                <p>Total Time Volunteered</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-item lines="none">
          <ion-icon size="large"name="images-outline" slot="start"></ion-icon>
          <ion-label>Posts Stats</ion-label>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <div>
                <h1>12</h1>
                <p>Posts Posted</p>
              </div>
            </ion-col>
            <ion-col size="4">
              <div>
                <h1>43</h1>
                <p>Comments</p>
              </div>
            </ion-col>
            <ion-col size="4">
              <div >
                <h1>104</h1>
                <p>Likes Received</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-item lines="none">
          <ion-icon size="large"name="location-outline" slot="start"></ion-icon>
          <ion-label>Branch</ion-label>
          
        </ion-item>
    
      </ion-card-header>
      <ion-card-content>
        <ion-img class="custom-img" src="assets\imgs\maps.png"></ion-img>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
