<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-item lines="none">
          <ion-icon size="large" name="hand-left-outline" slot="start"></ion-icon>
          <ion-label>Volunteer Stats</ion-label>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <div>
                <h1>{{total_trainings_completed_count}}</h1>
                <p>Trainings Completed</p>
              </div>
            </ion-col>
            <ion-col size="4">
              <div>
                <h1>{{total_events_organized_count}}</h1>
                <p>Activites Organized</p>
              </div>
            </ion-col>
            <ion-col size="4">
              <div >
                <h1>{{total_volunteering_time}}</h1>
                <p>Total Time Volunteered</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-item lines="none">
          <ion-icon size="large"name="images-outline" slot="start"></ion-icon>
          <ion-label>Posts Stats</ion-label>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <div>
                <h1>{{total_posts_posted}}</h1>
                <p>Posts Posted</p>
              </div>
            </ion-col>
            <ion-col size="4">
              <div>
                <h1>{{total_comments_posted}}</h1>
                <p>Comments</p>
              </div>
            </ion-col>
            <ion-col size="4">
              <div >
                <h1>{{total_likes_received}}</h1>
                <p>Likes Received</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-item lines="none">
          <ion-icon size="large"name="location-outline" slot="start"></ion-icon>
          <ion-label>Branch: {{branch_name}}</ion-label>
          
        </ion-item>
    
      </ion-card-header>
      <ion-card-content>
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3302.630644585469!2d35.64920521521712!3d34.13020438058479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151f5db75ca5a8e9%3A0xedd3d71d5baae053!2sLebanese%20Red%20Cross!5e0!3m2!1sen!2slb!4v1681849454015!5m2!1sen!2slb" width="310" height="210" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
