ion-content{
    --background: url('../assets/imgs/bg.png') no-repeat center center fixed;
    --background-size: cover;
}

.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .left-div,
  .right-div {
    flex-basis: 50%;
    padding: 10px;
    box-sizing: border-box;
  }


  p{
    color:white;
    font-family: 'Cairo', sans-serif;
    font-weight: bolder;
    font-size: larger;
  }

  .center-y {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .rounded-button1 {
    margin-bottom: 10px; 
    padding: 10px 20px;
    border-radius: 10px; 
    background-color: #B11433; 
    color: #fff; 
    border: none;
    font-family: 'Cairo', sans-serif;
    font-weight: bolder;
    font-size: large;
    cursor: auto;
  }

  .rounded-button2 {
    margin-bottom: 10px; 
    padding: 10px 20px;
    border-radius: 10px; 
    background-color: #45579A; 
    color: #fff; 
    border: none;
    font-family: 'Cairo', sans-serif;
    font-weight: bolder;
    font-size: large;
    cursor: auto;
  }

  .rounded-button3 {
    margin-bottom: 10px; 
    padding: 10px 20px;
    border-radius: 10px; 
    background-color: #B11433; 
    color: #fff; 
    border: none;
    font-family: 'Cairo', sans-serif;
    font-weight: bolder;
    font-size: large;
    height: 50px;
    
  }

  .header{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }

  img{
    width: 100px;
    height: 100px;
  }