
<ion-content> 
  <div class="header"> 
   <img src='../assets/logo.png' alt="logo">
    <button class="rounded-button3">Admin Panel</button>
  </div>
  <div class="container">
    
    <div class="left-div">
      <div class="center-y">
        <button class="rounded-button1">What We Do</button>
      <p> fugiat nulla pariatur. sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>
    </div>
    </div>
    <div class="right-div">
      <div class="center-y">
        <button class="rounded-button2">How We Do It</button>
        <p> fugiat  ytret laborum... Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>
      </div>
    </div>
  </div>

</ion-content>