<ion-content class="bluebackground">

  <ion-text style="color: #fff; font-size: 40px; position: absolute; top: 15%; left: 17%; transform: translate(-20%, -50%);">
    GET HELP<br>
    FROM <br>
    AN ADMIN
  </ion-text>

  <ion-img src="assets/icon/admin-icon.png" style="width: 64px;  margin-top: 100px; margin-left: 280px"></ion-img>

  <ion-card style="--background: #ffffff; margin-top: 230px; width: 362px; height: 315px; border-radius: 50px;">
   <ion-card-content>    
    </ion-card-content>
  </ion-card>

  
   
</ion-content>