.button{
  position: absolute;
  top: 180px;
  --background: #45579A;
  width: 322px;
  height: 53px;
  margin-top: 0px;
}

.image-container {
  position: relative;
}

.image-container img:first-child {
  z-index: 1;
  width: 100%;
  margin-top: 58px;
}

.overlay-image {
  position: absolute;
  top: 55px;
  left: 25px;
  width: 50px;
  z-index: 2;
}

ion-input{
  color: white;
  font-size: 18px;
  position: absolute;
  width: 206px;
  top: 24px;
  left: 30%;
  margin-top: 58px;
}
  
ion-card {
  --background: #ffffff;
  margin-top: 230px;
  width: 362px;
  height: 315px;
  border-radius: 50px;
}

ion-img {
  width: 64px;
  margin-top: 100px;
  margin-left: 280px;
}

ion-text {
  color: #ffffff;
  font-size: 40px;
  position: absolute;
  top: 15%;
  left: 17%;
  transform: translate(-20%, -50%);
}



