ion-content{
  --background-color: #626e9c;
 --width: 100%;
  --height: 100%;
  --background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.form-title{
  font-size: 30px;
  position: relative;
  top: 40px;
  left: 40px;
}

.custom-div{
  height: 70vh;
  width: 880px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #45579A;
  position: relative;
}

.members{
  width: 881px;
  margin: 0 auto;
  position: relative;
  bottom: 10px;
}

.add-member{
  width: 110%;
  margin: 10px;
  --background: #bcb9b9; 
  --padding-end: 10px; 
  border-radius: 15px;
  color: white;
}

ion-fab-button {
  --background: #45579A;
}

.add-img{
  margin-left: 33%;
  --color: white !important;
  --background:#45579A !important;
}

h1{
  color: white;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  padding: 10px;
  font-size: 50px;
}

.text-div {
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-icon {
  margin-left: auto;
  color:#ffffff;
}

.first-card-input {
  --background: #bcb9b9; 
  --padding-end: 10px; 
  border-radius: 15px;
  position: absolute;
  width: 270px;
  left: 115px;
}

ion-label{
  margin-right: 5px;
  color: #45579A;
}

.save{
  position: relative;
  margin: 0 auto;
  margin-left: 35%;
  margin-top: 20px;
  margin-bottom: 50px;
  --background: white !important;
  --color:#45579A !important;
  width: 30%;
  height: 60px;
}

ion-menu-button{
  color: #45579A;
}

.toolbar-background{
  --background: #45579A !important;
}

ion-menu{
  ion-content{
    --background: white;
  }
}

.inner-div {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-top: 50px;
}

ion-item{
  margin:15px;
  border-radius: 10px;
  --background: #45579A; 
}

.custom-input{
  margin-top: 15px;
}

.custom{
  --color: #fff;
  --placeholder-color: #ddd;
  --placeholder-background: #373737;
}
 
ion-button{
  --background: white;
  --color: #45579A;
}

ion-card-title{
  color: #45579A;
  font-weight: bold;
  padding: 10px;
}

.edit-btn{
  position: absolute;
  top: 7.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.img{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px; 
  height: 100px; 
  border: 3px solid white;
}

ion-card{
  --background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.list{
  background-color: white;
}

.add{
  position: absolute;
  left: 90px;
}

.list-img{
  background-color: white;
  height: 56px;
}

.mountains-img{
  height: 40px;
}

.img-trash{
  margin-bottom: 30px;
}

.ann{
  position: relative;
  top: 7px;
  color: white;
}

.header-button{
  --background: none;
  --box-shadow: none;
  position: relative;
  left: 75%;
}


ion-button.menu-button{
  color:white;
 --background:#45579A;
}

.menu-button{
  position: relative;
  width: 98%;
  --background: white;
}

ion-toolbar{
  position: relative;
  --background: white;
}

ion-title{
  color: #45579A;
}

.drop-down{
  --background: #bcb9b9; 
  --padding-end: 10px; 
  --color: white;
  border-radius: 15px;
  position: absolute;
  width: 270px;
  left: 115px;
}