.background{
    --background: #fff;
}

.background-dark{
    --background: #1A1A1A;
}

ion-toolbar{
    position: relative;
    --background: #45579A;
}

ion-menu-button{
    color: white;
}

ion-title{
    color: white;
}

ion-item{
    color: white;
}

.menu-button{
    position: relative;
    width: 100%;
    --background: #45579A;
}

.text{
    font-size: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    color:#45579A;
    top: 8%;
}

ion-card{
    position: relative;
    width: 800px;
    margin: 0 auto;
    border-radius: 20px;
    top: 10%;
    --background: #45579A;
}

ion-card-title{
    text-align: center;
}

.input {
    position: relative;
    height: 100px;
    border-radius: 10px;
    --background: #E9E7E7;
    --color: #8F8F8F;
    --padding-end: 45px;
    --padding-start: 20px;
    --placeholder-color: #8F8F8F;
    --placeholder-opacity: 0.8;
}

ion-segment {
    position: relative;
    height: 50px;
    --background: #E9E7E7;
    --color: #8F8F8F;
    --padding-end: 45px;
    --padding-start: 20px;
    --placeholder-color: #8F8F8F;
    --placeholder-opacity: 0.8;
}

ion-label{
    color: white;
}

.send{
    width: 80%; 
    margin: 0 auto; 
    --background: #45579A;
    position: relative;
    top: 15%;
    width: 50%;
}

.ann{
    top: 7px;
}

.header-button{
    --background: none;
    --box-shadow: none;
    margin-left: 75%;
}

.header-button1{
    --background: none;
    --box-shadow: none;
}

.importance{
    color: #8F8F8F;
}
