<ion-content class="whitebackground">

  <div class = "header-container">
    <ion-img class="top" src="assets/imgs/post-top.png"></ion-img>
    <ion-icon (click)="goBack()" class="back" name="arrow-back-outline"></ion-icon>
    <ion-text class="header-txt">Create a post</ion-text>
  </div>

  <div class="user-info">
    <img  class="profile-picture" *ngIf="user_profile_pic !== null" src="http://127.0.0.1:8000/storage/images/{{user_profile_pic}}"  onerror="this.onerror=null; this.src='https://ionicframework.com/docs/img/demos/avatar.svg';" />
    <img class="profile-picture"  *ngIf="user_profile_pic===null" src="https://ionicframework.com/docs/img/demos/avatar.svg"  />
    <ion-text class="username">{{username}}</ion-text>
    <ion-text class="name">{{full_name}}</ion-text>
  </div>

  <div *ngIf="post_src_img_data" class="chosen-image-container">
    <img [src]="post_src_img_data" class="chosen-image" />
  </div>

  <div *ngIf="post_src_video_data" class="chosen-video-container">
    <video [src]="post_src_video_data" class="chosen-video" controls></video>
  </div>
  
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div class="textarea-container">
    <textarea #captionTextarea [(ngModel)]="post_caption" class="textarea" placeholder="Add a caption..." rows="1"></textarea>
  </div>

  <div class="upload-options">
      <input (change)="onChange($event)" class="img" type="file" accept="image/png, image/jpeg, image/jpg, image/gif, video/mp4, video/webm, video/ogg">
  </div>  

  <ion-button class="post-button" shape="round" expand="block" size="large"  (click)="post()">Post</ion-button>


</ion-content>
