<ion-content class="whitebackground">

  <div class = "header-container">
    <ion-img class="top" src="assets/imgs/post-top.png"></ion-img>
    <ion-icon (click)="goBack()" class="back" name="arrow-back-outline"></ion-icon>
    <ion-text class="header-txt">Create a post</ion-text>
  </div>

  <div class="user-info">
    <img class="profile-picture" src="{{user_profile_pic}}">
    <ion-text class="username">{{username}}</ion-text>
    <ion-text class="name">{{full_name}}</ion-text>
  </div>

  <ion-input class="input"  placeholder="What's happening..."></ion-input>

  <div class="upload-options">
    <ion-icon class="camera" name="camera-outline"></ion-icon>
    <ion-icon class="image" name="image-outline"></ion-icon>  
  </div>  

  <ion-button class="post-button" shape="round" expand="block" size="large">Post</ion-button>


</ion-content>
