.whitebackground {
    --background: #fff;
  }

.header-container{
    position: relative;
}

.top{
    position: relative;
    z-index: 1;
}

.back{
    position: absolute;
    z-index: 2;
    bottom: 15px;
    left: 20px;
    font-size: 2em;
    color: white;
}

.header-txt{
    position: absolute;
    z-index: 2;
    bottom: 15px;
    left: 120px;
    font-size: 25px;
    color: white;
}

.user-info{
    position: relative;
    left: 5%;
}

.user-info .profile-picture{
    width: 60px;
    height: 60px;
    position: relative;
    top: 32px;
    left: 30px;
    border-radius: 50%;
}

.user-info .username{
    position: relative;
    padding-left: 13%;
    font-size: 15px;
    color:black;
}

.user-info .name{
    position: relative;
    font-size: 13px;
    color: black;
    top: 20px;
    left: -35px;
}

.chosen-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;
    margin-top: 15%;
    padding-bottom: 10%;
    padding-top: 10%;
  }
  
  .chosen-image {
    max-width: 90%;
    max-height: 200px;
    object-fit: cover;
  }

  .chosen-video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;
    margin-top: 15%;
    padding-bottom: 10%;
    padding-top: 10%;
    width: 100%;
  }
  
  .chosen-video {
    max-width: 90%;
    max-height: 200px;
    object-fit: cover;
  }
  
  
  .textarea-container {
    position: absolute;
    width: 300px;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .textarea {
    position: absolute;
    width: 300px;
    height: 100px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: #f4f0f0;
    color: #7c7c7c;
    padding: 10px 35px 10px 10px;
    resize: none;
    overflow: hidden;
    font-family: inherit;
    font-size: inherit;
  }
  
  .textarea:focus {
    outline: none;
  }
  
  .post-button {
    position: absolute; /* Add this line */
    bottom: 20px; /* Add this line */
    left: 50%; /* Add this line */
    transform: translateX(-50%); /* Add this line */
    --background: #45579A;
    width: 80%;
  }
  


.camera{
    position: relative;
    left: 50px;
}

.image{
    position: relative;
    left: 60px;
}


.upload-options{
    position: absolute;
    top: 80%;
    left: 20%;
    font-size: 20px;
    color: #45579A;
}

.error-message{
    position: absolute;
    top: 52%;
    font-size: 20px;
    text-align: center;
    color: #B11433;
}


  
  
  