

<ion-content [fullscreen]="true">
  <h1>Admin Panel</h1>
  <h1>Welcome Back!</h1>
  <ion-fab  vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button>
      <ion-icon name="moon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="card-container">
    <ion-card (click) ="goToProfiles()" class="top-card">
      <ion-card-content>
        <div class="icon-container">
          <ion-icon name="people-circle-outline"></ion-icon>
        </div>
        <h3>Manage Profiles</h3>
      </ion-card-content>
    </ion-card>

    <ion-card (click) ="goToGallery()" class="top-card">
      <ion-card-content>
        <div class="icon-container">
          <ion-icon name="images"></ion-icon>
        </div>
        <h3>Manage Gallery</h3>
      </ion-card-content>
    </ion-card>

    <ion-card (click) ="goToYearlyGoals()" class="top-card">
      <ion-card-content>
        <div class="icon-container">
          <ion-icon name="golf"></ion-icon>
        </div>
        <h3>Yearly Goals</h3>
      </ion-card-content>
    </ion-card>

    <ion-card (click) ="goToRequests()" class="top-card">
      <ion-card-content>
        <div class="icon-container">
          <ion-icon name="chatbubbles"></ion-icon>
        </div>
        <h3>Check Requests</h3>
      </ion-card-content>
    </ion-card>

    <ion-card (click) ="goToAnnouncements()" class="top-card">
      <ion-card-content>
        <div class="icon-container">
          <ion-icon name="document-text"></ion-icon>
        </div>
        <h3>Announcements</h3>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-fab  vertical="bottom" horizontal="end" [edge]="true">
    <ion-fab-button>
      <ion-icon name="log-out"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
