ion-content{
  --background:#8794c6;
    --background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
h1{
    text-align: center;
    color: #ffffff;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-top: 100px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    position: absolute;
    left: 8%;
    top: 20%;
  }
  
  .top-card{
    flex-basis: calc(30% - 10px); 
    height: 200px; 
    background-color: white;
    border-radius: 15px;

  }

  .bottom-card {
    flex-basis: calc(30% - 10px); 
    background-color: white; 
    height: 200px; 
    position: relative;
    bottom: 28%;
    border-radius: 15px;
  }

  .top-card{
    margin-bottom: 100px;
  }

  ion-fab{
    margin-top: 40px;
    margin-bottom: 50px
  }

  ion-fab-button{
    --background: #45579A;
  }
 
  ion-card {
    width: 50% !important; 
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);

  }
  
  ion-card-content {
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  ion-icon{
    color: #45579A;
    font-size: 50px;
  }

  
  h3{
    color: #45579A;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
  }

  .dark-mode{
    color: #45579A;
  }

  .logout{
    color: #45579A;
  }

  ion-fab-button{
    --background: white;
    margin-top: 20px;
  }

  ion-fab{
    position: fixed;
    right: 40px;

  }