ion-content{
    --background: url('../../../assets/imgs/panel-bg.png') no-repeat center center fixed;
    --background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

 .custom-div{
     height: 95vh;
     width: 90%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 0;
  margin-right: auto;
  background-color: #45579A;
  position: relative;
  }

  h1{
    color: white;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
  }

  .text-div {
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .edit-user-text {
    margin-top: 7rem; 
    margin-left: 14rem;
  }
  

  .close-icon {
    margin-left: auto;
    color:#ffffff;
  }

  ion-input {
    --background: #bcb9b9; 
    --padding-end: 10px; 
    border-radius: 15px;
  }

  ion-label{
    margin-right: 5px;
  }
.save{
  margin-top: 10%;
  margin-left: 42%;
  --color: white !important;
  --background:#45579A !important;
  

}
  .inner-div {
    bottom: 0;
    left: 0;
    right: 0;
position: absolute;
bottom: 0;
width: 100%;
height: 70%;
background-color: white;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
padding-top: 50px;
  }

  ion-item{
    margin:15px;
  }
.custom-input{
  margin-top: 15px;
}
.custom{
  --color: #fff;
  --placeholder-color: #ddd;
  --placeholder-background: #373737;
}
  .img{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px; 
        height: 100px; 
        border: 3px solid white;
    
  }

  ion-button{
    --background: white;
    --color: #45579A;
  }