ion-content{
    --background: url('../../../assets/imgs/panel-bg.png') no-repeat center center fixed;
    --background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

 .custom-div{
     height: 95vh;
     width: 90%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 0;
  margin-right: auto;
  background-color: #45579A;
  position: relative;
  }

  .close-icon {
    margin-left: auto;
    color:#ffffff;
  }

  .inner-div {
    bottom: 0;
    left: 0;
    right: 0;
position: absolute;
bottom: 0;
width: 100%;
height: 70%;
background-color: white;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
  }