ion-content{
    --background: url('../../../assets/imgs/login-bg.png') no-repeat center center fixed;
    --background-size: cover;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -15rem;
    position: relative;
    bottom: 30px;
  }

  .welcome-title {
    text-align: center;
    color: white;
    font-family: 'Cairo', sans-serif;
    font-weight: 900;
    font-size: 900px;
    margin-top: 50px;
  }

  .welcome-text {
    font-size: 4rem;
    font-weight: bold;
    position: relative;
    bottom: 30px;
  }
  
  .sub {
    margin-top: -1rem;
    position: relative;
    bottom: 30px;
  }

  .login-form ion-item {
    --padding-start: 0;
    --padding-end: 0;
    --background: transparent;
    --highlight-background-color: transparent;
    --color: white;
    width: 300px;
    position: relative;
    left: 10px;   
  }

  .button {
    position: relative;
    top: 80px;
    border-radius: 10px;
  }

  ion-button{
    --background:#B11433 !important;
  }
 

  .text{
    font-family: 'Cairo', sans-serif;
    font-weight: bolder;
    --border-color: white;
    position: relative;
    top: 15px;
  }

  ion-icon{
    color: white;
    padding-right: 5px;
  }
  
  .mail-icon{
    position: relative;
    top: 6px;
  }


