.top-page-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.whose-post{
    position: absolute;
    top: 20px;
    font-size: 20px;
    color: white;
}

.back{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 30px;
    color: white;
}

.post-image{
    position: absolute;
    z-index: 2;
}

.caption-container{
    position: relative;
    z-index: 1;
    top: 260px;
    right: 20px;
    width: 395px;
    height: 140px;
    border-radius: 25px;
    background-color: #45579A;
}

.caption{
    color: white;
    position: relative;
    top: 20px;
    font-size: 13px;
}

.comment-count{
    position:relative;
    top: 250px;
    left: 145px;
    color: black;
}

.comment-word{
    position:relative;
    top: 250px;
    left: 150px;
    color: black;
}

.sort{
    position:relative;
    top: 260px;
    left: 250px;
    font-size: 2em;
    color: black;
}

.comment-container{
    position:relative;
    top: 270px;
    left: 10px;
    width: 300px;
}

.profile-picture{
    width: 60px;
}

.username{
    position:absolute;
    left: 70px;
    bottom: 36px;
    font-size: 15px;
    color:black;
}

.comment{
    position:absolute;
    left: 70px;
    top: 30px;
    font-size: 18px;
    width: 250px;
    color:black;
}

.likes{
    font-size: 2em;
    position: absolute;
    left: 315px;
    top: 25px;
    color: #AAA7AE;
}

.like-count{
    font-size: 18px;
    position: absolute;
    left: 350px;
    top: 30px;
    color: #AAA7AE;
}

.accordition{
    position: absolute;
    width: 300px;
    top: 65px;
    left: 55px;
    background-color: transparent;
}

.view-replies-button{
    color: #AAA7AE;
}

.reply-profile-picture{
    width: 40px;
}

.reply-username{
    position:absolute;
    left: 70px;
    bottom: 36px;
    font-size: 15px;
    color:black;
}

.reply-comment{
    position:absolute;
    left: 70px;
    top: 50px;
    font-size: 18px;
    width: 250px;
    color:black;
}

.reply-likes{
    font-size: 2em;
    position: absolute;
    left: 315px;
    top: 25px;
    color: #AAA7AE;
}

.reply-like-count{
    font-size: 18px;
    position: absolute;
    left: 350px;
    top: 30px;
    color: #AAA7AE;
}
