.whitebackground {
    --background: #fff;
  }  

.top-page-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.whose-post{
    position: absolute;
    top: 20px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.back{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 30px;
    color: white;
}

.post-image{
    position: absolute;
    z-index: 2;
}

.caption-container{
    position: relative;
    z-index: 1;
    top: 260px;
    right: 20px;
    width: 100%;
    height: 160px;
    background-color: #45579A;
}

.caption{
    color: white;
    position: relative;
    top: 20px;
    font-size: 15px;
    font-weight: bold;
}

.comment-count{
    position:relative;
    top: 240px;
    left: 145px;
    color: black;
}

.comment-word{
    position:relative;
    top: 240px;
    left: 150px;
    color: black;
    margin-left: 5px;
}

.sort{
    position:relative;
    top: 250px;
    margin-left: 240px;
    font-size: 30px;
    color: black;
}

.comment-container{
    position:relative;
    margin-top: 50px;
    left: 1px;
    width: 98%;
    margin-bottom: 80px;

}

.comment-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #E6E6E6;
    margin-bottom: 10px;
    padding: 5px;
  }


.profile-picture{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.username{
    position:relative;
    font-weight: bold;
    font-size: 15px;
    color:black;
    left: 65px;
    bottom: 40px;
}

.delete-comment{
    position: absolute;
    left: 230px;
    top: 24px;
    font-size: 24px;
    color: #AAA7AE;
}

.comment{
    position:absolute;
    left: 70px;
    top: 55px;
    font-size: 15px;
    width: 250px;
    color:black;
}

.likes{
    font-size: 28px;
    position: absolute;
    left: 265px;
    top: 23px;
    color: #AAA7AE;
}

.like-count{
    font-size: 22px;
    position: absolute;
    left: 300px;
    top: 23px;
    color: #AAA7AE;
}

.input {
    width: 310px;
    left: 5px;
    border-radius: 20px;
    --color: #8F8F8F;
    --padding-end: 45px;
    --padding-start: 20px;
    --placeholder-color: #8F8F8F;
    --placeholder-opacity: 0.8;
    background-color: #F1F1F1;
    margin-top: 40px;
}

.comment-profile{
    position: relative;
    width: 38px;
    height: 38px;
    left: 5px;
    border-radius: 50%;
}


.send-icon{
    position: relative;
    left: 330px;
    font-size: 20px;
    color: white;
    z-index: 1;
    top: -32px;
}

.reply-container {
    position: relative;
    height: auto;
    max-height: 200px;
    overflow-y: auto;
    padding-bottom: 10px; /* Add padding at the bottom for spacing */
  }
  

.reply-profile-picture{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: 40px;
}

.reply-username{
    position:relative;
    left: 4px;
    bottom: 15px;
    font-size: 15px;
    color:black;
    font-weight: bold;
}

.reply-comment{
    position:absolute;
    left: 45px;
    bottom: -7px;
    font-size: 16px;
    width: 250px;
    color:black;
}

.reply-container .reply-comment {
    margin-bottom: 10px; /* Add margin between each comment for spacing */
}

.replies-container {
    margin-top: 10px;
    padding-left: 10px;
}

.delete-reply{
    position: absolute;
    left: 280px;
    top: 10px;
    font-size: 24px;
    color: #AAA7AE;
}

.edit-comment{
    position: absolute;
    left: 200px;
    top: 24px;
    font-size: 24px;
    color: #AAA7AE;
}

.edit-reply{
    position: absolute;
    left: 250px;
    top: 10px;
    font-size: 24px;
    color: #AAA7AE;
}

.add-reply{
    position: absolute;
    left: 267px;
    top: 60px;
    font-size: 24px;
    color: #AAA7AE;
}

.reply-word{
    position:relative;
    top: -18px;
    left: 285px;
    color: black;
    margin-left: 5px;
}



////////////////////////////

.accordition{
    position: absolute;
    top: 80px;
    left: 55px;
    background-color: transparent;
    --background: transparent;
   }

.accordition-box{
    position: relative;
    width: 142px;
}

.view-replies-button{
    margin-top: 20px;
    color: #AAA7AE;
    margin-bottom: 20px;
}

ion-item{
    --background: transparent;
    --inner-padding-end: 0;
}
  
.input-field {
    display: flex;
    align-items: center;
}
.likes.active {
    color: #B11433;
}
  

  