<ion-content class="whitebackground">
  <div class="top-page-container">
    <ion-img class="top-box" src="assets/imgs/comments-top.png"></ion-img>
    <ion-text class="whose-post">{{user_name}}'s Post</ion-text>
  </div>

  <ion-icon class="back" name="arrow-back-outline" (click)="goBack()"></ion-icon>
  <div class="post-and-content-wrapper">
  <img *ngIf="post_media" class="post-image" src="http://127.0.0.1:8000/storage/images/{{post_media}}" onerror="this.src='assets/imgs/ext.jpg'">

  <div class="content-wrapper">
  <ion-card class="caption-container">
    <ion-card-content>
      <ion-text class="caption">{{post_caption}}</ion-text>
      <ion-input [(ngModel)]="comment_content" class="input" placeholder="Add comment...">
        <img class="comment-profile" src="http://127.0.0.1:8000/storage/images/{{user_profile_pic}}" onerror="this.src='https://ionicframework.com/docs/img/demos/avatar.svg'">
      </ion-input>
      <ion-icon (click)="sendComment()" class="send-icon" name="send"></ion-icon>
    </ion-card-content>
  </ion-card>
  </div>
  </div>

  <ion-text class="comment-count">{{comment_count}}</ion-text>
  <ion-text class="comment-word">Comments</ion-text>
  <ion-icon (click)="openAlert()" id="sort" class="sort" name="options-outline"></ion-icon>

  <div class="comment-container" >
    
    <ion-card class="comment-card" *ngFor="let comment of comments; let i = index">
      <img class="profile-picture" src="http://127.0.0.1:8000/storage/images/{{comment['user'].user_profile_pic}}" onerror="this.src='https://ionicframework.com/docs/img/demos/avatar.svg'">
      <ion-text class="username">{{comment['user'].first_name}} {{comment['user'].last_name}}</ion-text>
      <ion-text class="comment-date">{{getDaysAgo(comment.created_at)}}</ion-text>
      <ion-icon (click)="editComment(comment.id, comment.comment_content)" *ngIf="current_id == comment['user'].id" class="edit-comment" name="pencil"></ion-icon>
      <ion-icon (click)="deleteComment(comment.id)" *ngIf="current_id == comment['user'].id" class="delete-comment" name="trash-outline"></ion-icon>
      <ion-text class="comment">{{comment.comment_content}}</ion-text>
      <ion-icon id="like-button-{{comment.id}}" [class.active]="isLikedUser[comment.id]" name="{{ isLikedUser[comment.id] ? 'heart' : 'heart-outline' }}" (click)="toggleLike(comment.id)" class="likes"></ion-icon>
      <ion-text class="like-count">{{this.commentLikeCount[comment.id]}}</ion-text>
      <ion-icon (click)="replyComment(comment.id)" class="add-reply" name="chatbubble-ellipses-outline"></ion-icon>
      <ion-text class="reply-word">Reply...</ion-text>
      <ion-item class="accordion-header" (click)="openReplies(comment.id)">
        <ion-icon slot="end" [name]="repliesOpen[comment.id] ? 'chevron-down-outline' : 'chevron-forward-outline'"></ion-icon>
        <ion-label *ngIf="!repliesOpen[comment.id]">View Replies</ion-label>
        <ion-label *ngIf="repliesOpen[comment.id]">Hide Replies</ion-label>
      </ion-item>

      <ion-card-content class="replies-container" *ngIf="repliesOpen[comment.id]">
        <div class="reply-container" *ngFor="let reply of replies[comment.id]">
          <img class="reply-profile-picture" src="http://127.0.0.1:8000/storage/images/{{reply['user'].user_profile_pic}}" onerror="this.src='https://ionicframework.com/docs/img/demos/avatar.svg'">
          <ion-text class="reply-username">{{reply['user'].first_name}} {{reply['user'].last_name}}</ion-text>
          <ion-icon (click)="deleteReply(reply.id)" *ngIf="current_id == reply['user'].id" class="delete-reply" name="trash-outline"></ion-icon>
          <ion-icon (click)="editReply(reply.id)" *ngIf="current_id == reply['user'].id" class="edit-reply" name="pencil"></ion-icon>
          <ion-text class="reply-comment">{{reply.reply_content}}</ion-text>
          <ion-text class="reply-date">{{getDaysAgo(reply.created_at)}}</ion-text>
        </div>          
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
