.top-page-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.whose-post{
    position: absolute;
    top: 20px;
    font-size: 20px;
    color: white;
}

.back{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 30px;
    color: white;
}

.post-image{
    position: absolute;
    z-index: 2;
}

.caption-container{
    position: relative;
    z-index: 1;
    top: 260px;
    right: 20px;
    width: 395px;
    border-radius: 25px;
    background-color: #45579A;
}

.caption{
    color: white;
}
