.whitebackground {
    --background: #fff;
  }  

.top-page-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.whose-post{
    position: absolute;
    top: 20px;
    font-size: 20px;
    color: white;
}

.back{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 30px;
    color: white;
}

.post-image{
    position: absolute;
    z-index: 2;
}

.caption-container{
    position: relative;
    z-index: 1;
    top: 260px;
    right: 20px;
    width: 395px;
    height: 160px;
    border-radius: 25px;
    background-color: #45579A;
}

.caption{
    color: white;
    position: relative;
    top: 20px;
    font-size: 15px;
}

.comment-count{
    position:relative;
    top: 240px;
    left: 145px;
    color: black;
}

.comment-word{
    position:relative;
    top: 240px;
    left: 150px;
    color: black;
}

.sort{
    position:relative;
    top: 250px;
    left: 250px;
    font-size: 2em;
    color: black;
}

.comment-container{
    position:relative;
    margin-top: 250px;
    left: 10px;
    width: 300px;
    margin-bottom: 50px;

}

.profile-picture{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 100px;
}

.username{
    position:relative;
    left: 10px;
    bottom: 40px;
    font-size: 15px;
    color:black;
}

.delete-comment{
    position: absolute;
    left: 320px;
    top: 60px;
    font-size: 23px;
    color: #AAA7AE;
}

.comment{
    position:absolute;
    left: 70px;
    top: 30px;
    font-size: 15px;
    width: 250px;
    color:black;
}



.likes{
    font-size: 2em;
    position: absolute;
    left: 315px;
    top: 25px;
    color: #AAA7AE;
}

.like-count{
    font-size: 18px;
    position: absolute;
    left: 350px;
    top: 30px;
    color: #AAA7AE;
}

.accordition{
    position: absolute;
    top: 80px;
    left: 55px;
    background-color: transparent;
    --background: transparent;
   }

.accordition-box{
    position: relative;
    width: 142px;
}

.view-replies-button{
    margin-top: 20px;
    color: #AAA7AE;
    margin-bottom: 20px;
}

.reply-container{
    position:relative;
    height: auto;
    margin-top: 10px;
}

.reply-profile-picture{
    width: 40px;
    bottom: 60px;
}

.reply-username{
    position:relative;
    left: 46px;
    bottom: 40px;
    font-size: 12px;
    color:black;
}

.reply-comment{
    position:absolute;
    left: 45px;
    top: 20px;
    font-size: 16px;
    width: 250px;
    color:black;
}

.input {
    margin-top: 25px;;
    width: 300px;
    left: 5px;
    border-radius: 10px;
    --background: #E9E7E7;
    --color: #8F8F8F;
    --padding-end: 45px;
    --padding-start: 20px;
    --placeholder-color: #8F8F8F;
    --placeholder-opacity: 0.8;
}

.send-icon{
    position: relative;
    left: 330px;
    font-size: 20px;
    color: white;
    z-index: 1;
    top: -35px;
}

.comment-profile{
    position: relative;
    width: 50px;
    height: 50px;
    left: 8px;
    border-radius: 50% !important;
}

ion-item{
    --background: transparent;
    --inner-padding-end: 0;
}
  
.input-field {
    display: flex;
    align-items: center;
}
.likes.active {
    color: #B11433;
  }
  
  .reply-container {
    position: relative;
    height: auto;
    max-height: 200px;
    overflow-y: auto;
    padding-bottom: 10px; /* Add padding at the bottom for spacing */
  }
  
  .reply-container .reply-comment {
    margin-bottom: 10px; /* Add margin between each comment for spacing */
  }