<ion-content class="whitebackground">

  <div class="top-page-container">
    <ion-img class="top-box" src="assets/imgs/comments-top.png"></ion-img>
    <ion-text class="whose-post">Georgio's Post</ion-text>
  </div>

  <ion-icon class="back" name="arrow-back-outline"></ion-icon>
  <ion-img class="post-image" src="assets/imgs/post.png"></ion-img>

  <ion-card class="caption-container">
    <ion-card-content>
      <ion-text class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
        nostrud exercitation and big muah me love you all 
      </ion-text>
    </ion-card-content>
  </ion-card>
  
</ion-content>
