
<ion-content class="background">
<ion-menu menuId="menuGallery" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Manage Gallery</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> 
      <ion-button (click) ="closeMenu()" class="menu-button">View Gallery</ion-button>
    <ion-button (click) ="goToAddForm()" class="menu-button">Add an Event</ion-button>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title><ion-text class="ann">Gallery</ion-text>
        <ion-button (click)="goToPanel()" class="header-button"><ion-label>Panel</ion-label></ion-button>
        <ion-button (click)="goToHome()" class="header-button"><ion-label>Log out</ion-label></ion-button>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    
     <ion-searchbar animated="true" placeholder="Search up your event title"></ion-searchbar>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Youth & Health
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-grid">
        <ion-row>
          <ion-col size="3" *ngFor="let yah_event of yah_events">
            <ion-card (click)="goToEditGallery(yah_event)">
              <div class="badge-yah">
                <ion-icon [name]="mapEventIcon(yah_event.event_type_id)" size="large"></ion-icon>
              </div>
              <ion-img  src="http://127.0.0.1:8000/storage/images/{{yah_event.event_main_picture}}" onerror="this.src='assets/imgs/ext.jpg'" class="custom-image"></ion-img>
              <ion-card-header class="custom-card-header-yah">
                <ion-card-subtitle class="custom-subtitle">{{yah_event.event_title}}</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    
    </ion-card-content>
     
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Environment
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-grid">
        <ion-row>
          <ion-col size="3" *ngFor="let environment_event of environment_events">
            <ion-card (click)="goToEditGallery(environment_event)">
              <div class="badge-env">
                <ion-icon [name]="mapEventIcon(environment_event.event_type_id)" size="large"></ion-icon>
              </div>
              <ion-img src="http://127.0.0.1:8000/storage/images/{{environment_event.event_main_picture}}" onerror="this.src='assets/imgs/ext.jpg'" class="custom-image"></ion-img>
              <ion-card-header class="custom-card-header-env">
                <ion-card-subtitle class="custom-subtitle">{{environment_event.event_title}}</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    
    </ion-card-content>
     
  </ion-card>
 


  <ion-card>
    <ion-card-header>
      <ion-card-title>HVP
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-grid">
        <ion-row>
          <ion-col size="3" *ngFor="let hvp_event of hvp_events">
            <ion-card (click)="goToEditGallery(hvp_event)">
              <div class="badge-hvp">
                <ion-icon [name]="mapEventIcon(hvp_event.event_type_id)" size="large"></ion-icon>
              </div>
              <ion-img src="http://127.0.0.1:8000/storage/images/{{hvp_event.event_main_picture}}" onerror="this.src='assets/imgs/ext.jpg'" class="custom-image"></ion-img>
              <ion-card-header class="custom-card-header-hvp">
                <ion-card-subtitle class="custom-subtitle">{{hvp_event.event_title}}</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    
    </ion-card-content>
     
  </ion-card>





  <ion-card>
    <ion-card-header>
      <ion-card-title>Other
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-grid">
        <ion-row>
          <ion-col size="3" *ngFor="let other_event of other_events">
            <ion-card (click)="goToEditGallery(other_event)">
              <div class="badge-other">
                <ion-icon [name]="mapEventIcon(other_event.event_type_id)" size="large"></ion-icon>
              </div>
              <ion-img src="http://127.0.0.1:8000/storage/images/{{other_event.event_main_picture}}" onerror="this.src='assets/imgs/ext.jpg'" class="custom-image"></ion-img>
              <ion-card-header class="custom-card-header-other">
                <ion-card-subtitle class="custom-subtitle">{{other_event.event_title}}</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    
    </ion-card-content>
     
  </ion-card>
  </ion-content>