.background{
    --background: #fff;
}

ion-card{
    position: relative;
    width: 800px;
    margin: 0 auto;
    border-radius: 20px;
    top: 10%;
    --background: #45579A;
}

ion-card-title{
    text-align: center;
}

.input {
    position: relative;
    height: 100px;
    border-radius: 10px;
    --background: #E9E7E7;
    --color: #8F8F8F;
    --padding-end: 45px;
    --padding-start: 20px;
    --placeholder-color: #8F8F8F;
    --placeholder-opacity: 0.8;
}

ion-segment {
    position: relative;
    height: 50px;
    --background: #E9E7E7;
    --color: #8F8F8F;
    --padding-end: 45px;
    --padding-start: 20px;
    --placeholder-color: #8F8F8F;
    --placeholder-opacity: 0.8;
}

ion-label{
    color: #8F8F8F;
}

ion-text{
    font-size: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    color:#45579A;
    top: 5%;
}

.send{
    width: 80%; 
    margin: 0 auto; 
    --background: #45579A;
    position: relative;
    top: 15%;
    width: 50%;
}

.start-date{
    position: relative;
    border-radius: 10px;
    --background: #E9E7E7;
    width: 45%;
    left: 2%;
    --color: black;
    --padding-end: 45px;
    --padding-start: 20px;
    --placeholder-color: #8F8F8F;
    --placeholder-opacity: 0.8;
}

.start{
    position: relative;
    right: 25%;
}

.end{
    position: absolute;
    left: 550px;
    bottom: 15px;
}

.end-date{
    position: absolute;
    border-radius: 10px;
    --background: #E9E7E7;
    width: 45%;
    left: 53%;
    bottom: 13px;
    --color: black;
    --padding-end: 45px;
    --padding-start: 20px;
    --placeholder-color: #8F8F8F;
    --placeholder-opacity: 0.8;
}

.dates{
    position: relative;
}

ion-range{
    position: relative;
    bottom: 20px;
    width: 70%;
    --bar-background: gray;
    --bar-background-active: white;
    --bar-height: 8px;
    --bar-border-radius: 8px;
    --knob-background: white;
    --knob-size: 40px;
    --pin-background: #45579A;
    --pin-color: #fff;
    margin: 0 auto;
}

ion-range::part(pin) {
    top: 15px;
}



  