<ion-content class="background">

  <ion-text>Add a yearly goal for the organization</ion-text>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Fill in the fields below</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-input class="input" placeholder="Goal Title..."></ion-input>
    </ion-card-content>

    <ion-card-content>
      <ion-input class="input" placeholder="Goal Description..."></ion-input>
    </ion-card-content>

    <div class="dates">
      <ion-card-header>
        <ion-card-title class="start">Start Date</ion-card-title>
        <ion-card-title class="end">Deadline</ion-card-title>
  
      </ion-card-header>
  
      <ion-card-content>
        <ion-input class="start-date"type="date"></ion-input>
        <ion-input class="end-date"type="date"></ion-input>
      </ion-card-content>
    </div>
  
    <ion-card-header>
      <ion-card-title>Choose the importance level of the announcement</ion-card-title>
    </ion-card-header>

    <ion-segment value="default">
      <ion-segment-button value="Optional">
        <ion-label>Optional</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Important">
        <ion-label>Important</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Urgent">
        <ion-label>Urgent</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-card>

  <ion-button class="send" shape="round" expand="block" size="large">Send Announcement</ion-button>
  <ion-img src="assets/imgs/ann-design.png"></ion-img>

</ion-content>
