<ion-content class="background">

  <ion-menu menuId="menuGoals" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Manage Yearly Goals</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> 
        <ion-button class="menu-button" (click) ="goToGoals()">View Goals</ion-button>
      <ion-button class="menu-button" (click) ="closeMenu()">Add a goal</ion-button>

    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title><ion-text class="ann">Yearly Goals</ion-text>
          <ion-button (click)="goToPanel()" class="header-button"><ion-label>Panel</ion-label></ion-button>
          <ion-button (click)="goToHome()" class="header-button"><ion-label>Log out</ion-label></ion-button>
        </ion-title>
      </ion-toolbar>
    </ion-header>
  </div>

  <ion-text class="text">Add a yearly goal for the organization</ion-text>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Fill in the fields below</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-input class="input" placeholder="Goal Title..."></ion-input>
    </ion-card-content>

    <ion-card-content>
      <ion-input class="input" placeholder="Goal Description..."></ion-input>
    </ion-card-content>

    <div class="dates">
      <ion-card-header>
        <ion-card-title class="start">Start Date</ion-card-title>
        <ion-card-title class="end">Deadline</ion-card-title>
  
      </ion-card-header>
  
      <ion-card-content>
        <ion-input class="start-date"type="date"></ion-input>
        <ion-input class="end-date"type="date"></ion-input>
      </ion-card-content>
    </div>
  
    <ion-card-header>
      <ion-card-title>Set the progress of the goal</ion-card-title>
    </ion-card-header>

    <ion-range aria-label="Range with pin" [pin]="true" [pinFormatter]="pinFormatter"></ion-range>
  </ion-card>

  <ion-button class="send" shape="round" expand="block" size="large">Add Goal</ion-button>
  <ion-img src="assets/imgs/ann-design.png"></ion-img>


</ion-content>
