<ion-menu menuId="menuAddTraining" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Manage Profiles</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> 
    <ion-button class="menu-button"(click) = "goBack()">View Members</ion-button>
    <ion-button class="menu-button"(click) = "goToAddForm()">Add Member</ion-button>
    <ion-button class="menu-button"(click) = "closeMenu()">Add Training</ion-button>
    <ion-button class="menu-button"(click) = "goToDeleteTraining()">Remove Training</ion-button>
 </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title><ion-text class="ann">Training</ion-text>
        <ion-button (click)="goToPanel()" class="header-button"><ion-label class="header-label">Panel</ion-label></ion-button>
        <ion-button (click)="goToHome()" class="header-button"><ion-label class="header-label">Log out</ion-label></ion-button>
      </ion-title>
      <ion-icon size="large" slot="end" name="close" (click)="goBack()"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <h2 class="page-title">Add Trainings</h2>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <ion-card-title class="custom-title">
              Trainings
            </ion-card-title>
            <ion-list>
              <ion-item *ngFor="let training of trainings">
                <ion-label>{{training.training_name}}</ion-label>
                <ion-checkbox slot="end" (ionChange)="toggleTrainingSelection(training.id)"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-card-title class="custom-title">
              Users
            </ion-card-title>
            <ion-list>
              <ion-item *ngFor="let user of users">
                <ion-avatar slot="start">
                  <img src="http://127.0.0.1:8000/storage/images/{{user.user_profile_pic}}" onerror="this.src='https://ionicframework.com/docs/img/demos/avatar.svg'" >
                </ion-avatar>
                <ion-label>{{user.first_name}} {{user.last_name}}</ion-label>
                <ion-checkbox slot="end" (ionChange)="toggleUserSelection(user.id)"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="addTrainingForUsers()">Apply Changes</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
