<ion-content class = "whitebackground">

  <ion-img class="sigin-circles" src="assets/imgs/signin-circles.png"></ion-img>
  <ion-text class="greeting">
    WELCOME <br>
      BACK!
    <h6>GOOD TO SEE YOU AGAIN</h6>
    <br><br>
  </ion-text>  

  <ion-text class="signin"><b>Sign In</b></ion-text>

  <ion-text class="container">

    <div class="input-field">  
        <img class="id-icon" src="assets/icon/ID.png" alt="ID icon">
        <ion-item>
          <ion-label class="label" position="floating" >Volunteer ID </ion-label>
          <ion-input class="email" type="email" [(ngModel)]="organization_id" name="email"></ion-input>
        </ion-item> 
    </div>

    <div class="input-field">
      <img class="pass-icon" src="assets/icon/Password.png"  alt="ID icon">
      <ion-item>
        <ion-label class="label" position="floating">Password</ion-label>
        <ion-input class="password" type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
    </div>

    <ion-checkbox>Remember me</ion-checkbox>

  </ion-text>

  <br>
  <ion-button class="signin-button" shape="round" expand="block" size="large" (click)="login(organization_id, password)">Sign me in</ion-button>

  <br>
  <ion-label (click)="goToSignUp()" class="new-here">New here?</ion-label>
  <ion-label (click)="goToRequest()" class="forgot-pass">Forgot Password?</ion-label>

</ion-content>



