<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="container">
   
    <ion-card class="card" *ngFor="let post of posts_array; let i = index">
      <div class="header-container">
        <img  class="card-profile-picture" src="{{user_profile_pic}}">
        <ion-text class="username">{{username}}</ion-text>
        <ion-text class="name">{{full_name}}</ion-text>
        <ion-text class="post-date">{{getDaysAgo(post.post_date)}} d</ion-text>
        <ion-icon *ngIf="!othersPage" size="large"class="edit" name="ellipsis-vertical-outline" (click)="showActionSheet(post.id)"></ion-icon>
      
      </div>

      <ion-card-content>
        <div class="caption-container">
          <ion-text>{{post.post_caption}} 
          </ion-text>
        </div>  
        <ion-img class="post-image" src="{{post.post_media}}"/>
      </ion-card-content>

      <ion-footer>
        <ion-icon class="likes" [class.active]="isLiked[post.id]" name="{{ isLiked[post.id] ? 'heart' : 'heart-outline' }}" (click)="toggleLike(post.id)"></ion-icon>
        <ion-text class="like-count" color="danger">{{post.like_count}}</ion-text>
        <ion-img (click) ="goToComments()" class="comments" src="assets/icon/comments.png"></ion-img>
        <ion-text class="comment-count">{{post.comment_count}}</ion-text>
        <ion-input class="input"  placeholder="Comment on this post..."></ion-input>
        <ion-icon class="send-icon" name="send"></ion-icon>

      </ion-footer>  
    </ion-card>
  </div>
  
