.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 200px; 
  }

  ion-card {
    background-color: #45579A;
    max-width: 90%;
    margin-bottom: 10px; 


 
  }

  @keyframes grow-shrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.85);
    }
    100% {
      transform: scale(1);
    }
  }

.like-animation {
animation: grow-shrink 0.35s linear, sparkle 0.5s linear;
}
  

  ion-item{
    --background: transparent;
 
  }

h2, p{
    color: white;
    font-weight: 200;
  }

  .edit{
    color:#45579A !important;
    margin-left: 70%;
  }


 ion-avatar{
   height: 50px;
   width: 50px;
    
 } 

 .custom-icon{
    color:#45579A !important;
    position: absolute;
    right: 12px;
      
 }

 ion-icon, ion-col{
    color: white ;
 }

 ion-input{
    --background: white;
 --placeholder-color : gray;
 --color:black;
 
 }

.custom-input{
    border-radius: 25px;
    padding: 20px; 
}

.header-container {
  position: relative;
  top: 20px;
  left: 20px;
  }
  
  .header-container img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
  }
  
  .header-container .username {
  position: absolute;
  top: 5px;
  left: 55px;
  font-size: 15px;
  color: #8F8F8F;
  }
  
  .header-container .name {
  position: absolute;
  top: 25px;
  left: 55px;
  font-size: 13px;
  color: #8F8F8F;
  }

  .header-container .post-date {
      position: absolute;
      top: 20px;
      right: 100px;
      font-size: 13px;
      color: #8F8F8F;
    }      
  
  .header-container .more-options {
  position: absolute;
  font-size: 2em;
  top: 35px;
  right: 10px;
  color: #8F8F8F;
  }
  
  .caption-container {
  position: relative;
  width: 309px;
  left: 15px;
  top: 10px;
  }
  
  .post-image {
  position: relative;
  top: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

  .post-video {
    position: relative;
    top: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
  
  .likes {
  font-size: 2em;
  position: relative;
  top: 30px;
  left: 15px;
  color: #B11433 !important;
  }
  
  .like-count {
  font-size: 17px;
  position: relative;
  top: 23px;
  left: 18px;
  color: #AAA7AE
  }
  
  .comments {
  position: relative;
  width: 27px;
  top: 0px;
  left: 82px;
  }
  
  .comment-count {
  font-size: 18px;
  position: relative;
  bottom: 25px;
  left: 115px;
  color: #AAA7AE
  }
  
  .input {
  position: relative;
  bottom: 53px;
  width: 189px;
  left: 150px;
  border-radius: 10px;
  z-index: 1;
  --background: #E9E7E7;
  --color: #8F8F8F;
  --padding-end: 35px;
  --padding-start: 10px;
  --placeholder-color: #8F8F8F;
  --placeholder-opacity: 0.8;
  }
  
  .send-icon {
  position: absolute;
  left: 310px;
  top: 35px;
  font-size: 20px;
  color: #B11433;
  z-index: 2;
  }
  
  .card {
  position: relative;
  background-color: #FDFDFD;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  }
  
  .fab {
  position: fixed;
  top: 770px;
  left: 315px;
  --background: #B11433;
  }

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

ion-avatar{
  height: 100px;
  width: 100px;
}


.likes.active {
  color: #B11433;
}
