<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="assets\imgs\gallery-default2.jpeg">
          </ion-avatar>
          <ion-label>
            <h2>Georgio Ghnatios</h2>
            <p>April 7, 2023</p>
            <p>Best Beach Clean up ever!</p>
          </ion-label>
          
          <ion-icon name="ellipsis-vertical-outline" (click)="showActionSheet()"></ion-icon>
       
        </ion-item>
   
      </ion-card-header>
      <ion-card-content>
        <img src="assets\imgs\gallery-default1.jpg" style="width: 100%; border-radius: 20px;">
        <ion-row>
          <ion-col size="3" >
            <ion-icon name="heart" style="font-size: 24px; padding-right: 5px;"></ion-icon>64
          </ion-col>
          <ion-col size="2" >
            <ion-icon name="chatbubble" style="font-size: 24px; padding-right: 5px;"></ion-icon>3
          </ion-col>
          <ion-col size="7" >
            <ion-input placeholder="Comment..." class="custom-input" style="--border-radius: 20px;">
              <ion-icon class="custom-icon" name="paper-plane"  size="large" slot="end"></ion-icon>
            </ion-input>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
  

