<ion-content class="whitebackground">

  <img class="feed-top-image" src="assets/imgs/feed-top.png">
  <img class="profile-picture" src="assets/imgs/profile-picture.png">
  <ion-icon class="menu-icon" name="menu-outline"></ion-icon>

  <ion-card>
    <div class="header-container">
      <img class="card-profile-picture" src="assets/imgs/profile-picture.png">
      <ion-text class="username">Ghnatoos7</ion-text>
      <ion-text class="post-date"> • 1d ago</ion-text>
      <ion-text class="name">Georgio Ghnatos</ion-text>
    </div>

    <div class="caption-container">
      <ion-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
      nostrud exercitation and big muah me love you all 
      </ion-text>
    </div>
    
    <img src="assets/imgs/post.png"/>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  
</ion-content>

