.feed-top-image{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%
}

.menu-icon{
    position: absolute;
    top: 30px;
    left: 10px;
    font-size: 3em;
}

.profile-picture{
    position: absolute;
    top: 18px;
    left: 285px;
    width: 75px;
}