<ion-content class="whitebackground">

  <img class="feed-top-image" src="assets/imgs/feed-top.png">
  <img class="profile-picture" src="assets/imgs/profile-picture.png">
  <ion-icon class="menu-icon" name="menu-outline"></ion-icon>
  <ion-text class="your-feed">Your Feed</ion-text>

  <ion-card color="dark">
    <div class="header-container">
      <img class="card-profile-picture" src="assets/imgs/profile-picture.png">
      <ion-text class="username">Ghnatoos7</ion-text>
      <ion-text class="post-date"> • 1d ago</ion-text>
      <ion-text class="name">Georgio Ghnatos</ion-text>
      <ion-icon class="more-options" name="ellipsis-vertical-outline"></ion-icon>
    </div>

    <ion-card-content>
      <div class="caption-container">
        <ion-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
        nostrud exercitation and big muah me love you all 
        </ion-text>
      </div>  
      <ion-img class="post-image" src="assets/imgs/post.png"/>
    </ion-card-content>

    <ion-footer>
      <ion-icon class="likes" name="heart-outline"></ion-icon>
      <ion-text class="like-count" color="danger">0</ion-text>
      <ion-img class="comments" src="assets/icon/comments.png"></ion-img>
      <ion-text class="comment-count">0</ion-text>
      <ion-input class="input"  placeholder="Comment on this post...">
        <ion-icon class="send-icon" name="send"></ion-icon>
      </ion-input>
    </ion-footer>  
  </ion-card>

  <ion-fab class="fab">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

