<ion-content class="background">

  <ion-menu menuId="editGoal" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Manage Yearly Goals</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> 
        <ion-button class="menu-button" (click) ="goToGoals()">View Goals</ion-button>
        <ion-button class="menu-button" (click) ="goToAddGoal()">Add a goal</ion-button>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title><ion-text class="ann">Yearly Goals</ion-text>
          <ion-button (click)="goToPanel()" class="header-button"><ion-label>Panel</ion-label></ion-button>
          <ion-button (click)="goToHome()" class="header-button"><ion-label>Log out</ion-label></ion-button>
        </ion-title>
      </ion-toolbar>
    </ion-header>
  </div>

  <ion-text class="text">Editing yearly goal</ion-text>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Edit the fields below</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-input [(ngModel)]="goal_name" class="input" placeholder="Goal Name..." maxlength="48"></ion-input>
    </ion-card-content>
    
    <ion-card-content>
      <ion-input [(ngModel)]="goal_description" class="input" placeholder="Goal Description..."maxlength="255"></ion-input>
    </ion-card-content>
    
    <ion-card-content>
      <ion-input [(ngModel)]="number_completed" class="input" type="number" placeholder="Number Completed..."></ion-input>
    </ion-card-content>
    
    <ion-card-content>
      <ion-input [(ngModel)]="number_to_complete" class="input" type="number" placeholder="Number to Complete..."></ion-input>
    </ion-card-content>
    
    <ion-card-content>
      <div class="select-wrapper">
        <ion-select [(ngModel)]="program_id" class="input" placeholder="Program">
          <ion-select-option value="Youth and Health">Youth and Health</ion-select-option>
          <ion-select-option value="Human values and principles">Human values and principles</ion-select-option>
          <ion-select-option value="Environment">Environment</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </div>
    </ion-card-content>
    
    <ion-card-content>
      <div class="select-wrapper">
        <ion-select [(ngModel)]="event_type_id" class="input" placeholder="Event Type">
          <ion-select-option value="Activity">Activity</ion-select-option>
          <ion-select-option value="Training">Training</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </div>
    </ion-card-content>
    
    <ion-card-content>
      <ion-input [(ngModel)]="goal_year" class="input" type="number" placeholder="Goal Year..."></ion-input>
    </ion-card-content>
    
    <div class="dates">
      <ion-card-header>
        <ion-card-title class="start">Start Date</ion-card-title>
        <ion-card-title class="end">Deadline</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-input [(ngModel)]="start_date" class="start-date" type="date"></ion-input>
        <ion-input [(ngModel)]="goal_deadline" class="end-date" type="date"></ion-input>
      </ion-card-content>
    </div>
  </ion-card>

  <ion-button (click)="editYearlyGoal()" class="send" shape="round" expand="block" size="large">Update Goal</ion-button>
  <ion-img src="assets/imgs/ann-design.png"></ion-img>
</ion-content>
