<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <div>
                <h1>{{yah_count}}</h1>
                <p>Y&H Trainings Completed</p>
              </div>
            </ion-col>
            <ion-col size="4">
              <div>
                <h1>{{hvp_count}}</h1>
                <p>HVP Trainings Completed</p>
              </div>
            </ion-col>
            <ion-col size="4">
              <div >
                <h1>{{env_count}}</h1>
                <p>Environment Trainings Completed</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <div>
                <h1>{{other_count}}</h1>
                <p>Non-Program Trainings Completed</p>
              </div>
            </ion-col>
            <ion-col size="6">
              <div >
                <h1>{{left_count}}</h1>
                <p>Main Trainings Left</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-item lines="none">
          <ion-icon name="leaf" class="env" slot="start"></ion-icon>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6" *ngFor="let training of taken_env;">
              <div>
                <ion-checkbox checked>{{training.training_name}}</ion-checkbox>
              </div>
            </ion-col>
            <ion-col size="6" *ngFor="let training of not_taken_env;">
              <div>
                <ion-checkbox>{{training.training_name}}</ion-checkbox>
              </div>
            </ion-col>
            
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-item lines="none">
          <ion-icon name="male-female" class="hvp" slot="start"></ion-icon>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6" *ngFor="let training of taken_hvp;">
              <div>
                <ion-checkbox  checked>{{training.training_name}}</ion-checkbox>
              </div>
            </ion-col>
            <ion-col size="6" *ngFor="let training of not_taken_hvp;">
              <div>
                <ion-checkbox >{{training.training_name}}</ion-checkbox>
              </div>
            </ion-col>
            
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-item lines="none">
          <ion-icon  name="heart-half" class="yh" slot="start"></ion-icon>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6" *ngFor="let training of taken_yah;">
              <div>
                <ion-checkbox checked>{{training.training_name}}</ion-checkbox>
              </div>
            </ion-col>
            <ion-col size="6" *ngFor="let training of not_taken_yah;">
              <div>
                <ion-checkbox>{{training.training_name}}</ion-checkbox>
              </div>
            </ion-col>
            
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

   
  </div>
</ion-content>
