<ion-content [fullscreen]="true">

 

  <div class="ion-page" id="main-content">
    

    <ion-content class="ion-padding">
      <div *ngIf="errorMessage" class="error-message" style="text-align: center; color: grey; padding-top: 20px;">
        {{ errorMessage }}
      </div>
      <ion-card *ngFor="let pic of pictures.pictures">
        <img (click)="displayDownloadConfirmation(pic.event_image_source)" class="picture" src="http://127.0.0.1:8000/storage/images/{{pic.event_image_source}}" onerror="this.src='assets/imgs/ext.jpg'"/>
      </ion-card>
      
    </ion-content>
  </div>

</ion-content>
