ion-toolbar {
    --background: #b11433;
  }
  
  ion-menu-button {
    --color: #f0f0f0; 
  
  }

  .picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  ion-card {
    position: relative;
  }
  
  