<ion-content [fullscreen]="true">

 

  <div class="ion-page" id="main-content">
    

    <ion-content class="ion-padding">
  
      <ion-card *ngFor="let pic of pictures.pictures">
        <img class="picture" src="http://127.0.0.1:8000/storage/images/{{pic.event_image_source}}" onerror="this.src='assets/imgs/ext.jpg'"/>
        <ion-button class="download-button">
          <ion-icon name="download-outline"></ion-icon>
        </ion-button>
      </ion-card>
      
    </ion-content>
  </div>

</ion-content>
