<ion-content [fullscreen]="true">
=

  <div class="ion-page" id="main-content">
   

    <ion-content class="parent">
      <ion-card *ngFor="let event of events.event" class="custom-card">
        <ion-card-header>
          <ion-card-title>  <ion-icon (click) = "goGallery()" size="large" name="arrow-back" ></ion-icon>{{event.event_title}}</ion-card-title>
        </ion-card-header>
        <img class="picture" alt="Silhouette of mountains" src="http://127.0.0.1:8000/storage/images/{{event.event_main_picture}}" onerror="this.src='assets/imgs/ext.jpg'"/>
      </ion-card>

      <ion-card class="layer-card" *ngFor="let event of events.event">
        <ion-card-header>
          <ion-row>
            <ion-col>
              
          <ion-card-title> <ion-icon name="location-outline"></ion-icon>{{event.event_location}}</ion-card-title>
        </ion-col>
      <ion-col>
          <ion-card-subtitle>{{event.event_date}}</ion-card-subtitle>
        </ion-col>
        </ion-row>
        </ion-card-header>

       <ion-card-content>{{event.event_description}}</ion-card-content>
       
       <ion-row>
        <ion-col>

          <ion-list lines="none">
          <ion-item>
            
              <img class="custom-img" slot="start" alt="Silhouette of a person's head" src="assets\imgs\word.png" />
        <div class="label">
            <ion-label>
              {{event.proposal}}
            </ion-label>
          </div>
          </ion-item>
  
        </ion-list>
    </ion-col>
    <ion-col>

      <ion-list lines="none">
    

      <ion-item>
       
          <img slot="start" class="custom-img"alt="Silhouette of a person's head" src="assets\imgs\sheet.png" />
          <div class="label">
        <ion-label>
        {{event.budget_sheet}}
        </ion-label>
        </div>
      </ion-item>
    </ion-list>
</ion-col>
  
    </ion-row>

    <ion-card>
      <ion-list lines="none">
      <ion-item *ngFor="let member of responsibles">
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" src="http://127.0.0.1:8000/storage/images/{{member.profile_picture}}" onerror="this.src='https://ionicframework.com/docs/img/demos/avatar.svg'"/>
        </ion-avatar>
        <ion-label>
          <h2>{{member.first_name}} {{member.last_name}}</h2>
          <p>{{member.role_name}}</p>
        </ion-label>
      </ion-item>
      
      
    </ion-list>
    </ion-card>
      </ion-card>

     

    </ion-content>

   

  </div>

</ion-content>