ion-toolbar {
    --background: #b11433;
  }
  
  ion-menu-button {
    --color: #f0f0f0; 
  

  }

  ion-icon{
    padding-right: 10px;
  }

  ion-icon{
    color: #b11433;
  }

  ion-card.custom-card {
    width: 100%;

    margin: 0;
    padding: 0;

  }

  ion-card-title {
    white-space: normal; 
    word-break: break-word; 
  }
  
  ion-card-content {
    white-space: normal; 
    word-break: break-word; 
  }

  .picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



  ion-card-title{
    font-size:large;
    font-family: 'Cairo', sans-serif;
  }



  .layer-card{
  top: auto;
  left: 0;
   z-index: 1;
   transform: translateY(-30%);
width: 100%;
padding: 0;
max-width: 90%;
margin-bottom: 55px; 


  }

  .parent{
    position: fixed;

  }
.custom-img{
  width: 25px;
  height: 25px;
}

.label{
  background-color: #D9D9D9;
  border-radius: 20%;
  
}


