<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="youth-gallery">
      <ion-icon name="heart-half-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="hvp-gallery">
      <ion-icon name="male-female-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="env-gallery">
      <ion-icon name="leaf-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="other-gallery">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>