.whitebackground {
    --background: #fff;
  }  

.line1{
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 150px;
    width: 316px;
}

.line2{
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 316px;
}

.dw-txt{
    font-size: 40px;
    color: #B11433;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.admin-txt{
    font-size: 15px;
    color: #45579A;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.time-img{
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 150px;
    width: 169px;
}

.request-button {
    text-align: center;
    color: white;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 150px;
    background-color: #45579A;
    border: none;
    padding: 10px;
    border-radius: 30px;
  }
