#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-toolbar {
    --background: #D9D9D9;
  }
  
  ion-fab-button{
    --background: #D9D9D9;
    --color: white;
    --background-activated: #348137;
   
  }
  
  ion-title{
    --color: white;
  }
  
  ion-card-header{
    --background: #D9D9D9;
  }
  
  ion-menu-button {
    --color: #f0f0f0; 
  
  }
  
  ion-tab-button ion-icon {
    color: #ffffff; 
  }
  
  

  .custom-image {
    height: 100%; 
    object-fit: cover; 
  }
  
  .custom-subtitle {
    margin-bottom: 0; 
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: 'Cairo', sans-serif;
  }
  
  .custom-fab {
    bottom: 5%
  }

  ion-card{
    width: 100% !important;
    margin: 0 !important;
  }
  .badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #D9D9D9;
    color: white;
    width: 50px;
    height:50px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .menu-tool{
    --background:var(--ion-background-color)
  }

  .avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
  }

  ion-avatar{
    height: 100px;
    width: 100px;
  }

  .menu{
    --ion-background-color: #45579A;
  }

  ion-label{
    color: white;
  }

  .custom-button{
    --background: white;
    --color: black;
  }


  


  
  
