ion-menu-button{
    color: white;
}

ion-title{
    color: white;
    font-family: 'Cairo', sans-serif;
}

ion-toolbar{
    --background: #b11433;
}

ion-card{
    background-color: #b11433;
}

.icon, ion-card-title{
    color: white;
}

ion-card-title{
    font-size: medium;
    display: flex;
    justify-content: space-between;
}

ion-footer{
    display: flex;
    justify-content: space-evenly;
}

.date{ 
    font-size: small;
    font-weight: lighter;
    color:lightgray;
    font-family: 'Cairo', sans-serif;

}

ion-card-subtitle{
    font-size: small;
    font-weight: bold;
    color:white;
    font-family: 'Cairo', sans-serif;
}

ion-progress-bar{
    --background: rgba(0, 0, 0, 0.197);
    --progress-background: white;
    
}

.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Set the height of the avatar container to fill the viewport */
  }

  ion-avatar{
    height: 100px;
    width: 100px;
  }

  .menu{
    --ion-background-color: #45579A;
  }

  ion-label{
    color: white;
  }

  .custom-button{
    --background: white;
    --color: black;
  }

  .menu-tool{
    --background:var(--ion-background-color)
  }

  .youth-health {
    background-color: #b11433;
  }
  
  .hvp {
    background-color: #45579A;
  }
  
  .environment {
    background-color: #348137;
  }
  
  .other {
    background-color: darkgray;
  }
  

 

  
  
  
  
  
  
  