<ion-header>
  <ion-toolbar>
    <ion-text class="req">Requests</ion-text>

    <ion-button (click)="goToPanel()" class="header-button"><ion-label>Panel</ion-label></ion-button>
    <ion-button (click)="goToHome()" class="header-button"><ion-label>Log out</ion-label></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text class="text1">Password Reset Requests</ion-text>
  <ion-text class="text2">Verify with members if they requested the password reset before approving or denying!</ion-text>

  <ion-list [inset]=true>

    <ion-item *ngFor="let request of requests">
      <img *ngIf="request['user'].user_profile_pic !== null" src="http://127.0.0.1:8000/storage/images/{{request['user'].user_profile_pic}}"  onerror="this.onerror=null; this.src='https://ionicframework.com/docs/img/demos/avatar.svg';" />
      <img *ngIf="request['user'].user_profile_pic===null" src="https://ionicframework.com/docs/img/demos/avatar.svg"  />

      <ion-grid>
        <ion-row>
          <ion-col><ion-label>{{request['user'].first_name}} {{request['user'].last_name}}</ion-label></ion-col>
          <ion-col>{{request.request_date}}</ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon (click)="confirmAccept(request.id)" class="accept" name="checkmark-outline"></ion-icon>
      <ion-icon (click)="confirmDecline(request.id)" class="decline" name="close-outline"></ion-icon>
    </ion-item>

  </ion-list>
</ion-content>
