<ion-content class = "background">
  <ion-img src="assets/imgs/signup-design.png" style="width: 395px; position: fixed; bottom: 0; left: 0; right: 0;"></ion-img>
  
  <ion-text style="color: #45579A; font-size: 40px; position: absolute; top: 12%; left: 12%; transform: translate(-20%, -50%);">
    <b>Sign Up</b>
  </ion-text>

  <ion-text style="color: #45579A; font-size: 40px; position: absolute; top: 16%; left: 14%; transform: translate(-20%, -50%);">
    <h6>So happy to see you here!</h6>
  </ion-text>

  <ion-text style="color: #45579A; font-size: 40px; position: absolute; top: 25%; left: 20%; transform: translate(-20%, -50%);">
    <h6>Make sure an admin registered you before signing up!</h6>
  </ion-text>

  <ion-text color = white style="font-size: 10px; position: absolute; top: 47%; left: 10%;">
    <div class="input-field">  
      <img src="assets/icon/ID.png" style="width: 50px; height: 50px; margin-top: 25px;" alt="ID icon">
      <ion-item>
        <ion-label position="floating" >Volunteer ID </ion-label>
        <ion-input type="email" name="email" required style="border-bottom: 1px solid #ccc;"></ion-input>
      </ion-item> 
    </div>
  </ion-text>

  <ion-button class="white-bg-button" style="color: #45579A; width: 80%; margin: 0 auto; margin-top: 550px;" shape="round" expand="block" size="large"><b>Submit</b></ion-button>

</ion-content>
